<template>
    <main>
        <p>Dit is een test van Sentry. De bedoeling is om source mapping werkend te krijgen met Webpack en Vue binnen Sentry.</p>
        <fake-button @click="raiseError">Throw an error</fake-button>
        <hr>
        <fake-button @click="raiseATypeError">Raise a TypeError</fake-button>
        <hr>
        <fake-button @click="vueErrorObject.something.match(/anything/)">Cause an error inside Vue v-on handlers</fake-button>
    </main>
</template>

<script>
import errorscript from "../errorscript";
import FakeButton from "../components/FakeButton";

export default {
    name: 'Start',

    data () {
        return {
            typeErrorObject: {},
            vueErrorObject: {
                something: {},
            },
        }
    },

    components: {FakeButton},

    methods: {
        raiseError() {
            throw 'Something went wrong on purpose';
        },

        raiseATypeError() {
            errorscript(this.typeErrorObject);
        },
    },
};
</script>

<style scoped>

</style>
