<template>
    <div class="btn" v-on="$listeners">
        <slot/>
    </div>
</template>

<script>
export default {
    name: "FakeButton"
}
</script>

<style scoped>
.btn {
    cursor: default;
    display: inline-block;
    background: #272794;
    color: #fff;
    padding: 2rem 3rem;
    box-shadow: 0 0 0 #a95e5e;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    background: #af2121;
    box-shadow: -5px 5px 0 #a95e5e;
    transform: translate(5px, -5px);
}
</style>
