<template>
    <div id="app">
        <start/>
    </div>
</template>

<script>
import Start from "./views/Start";

export default {
    name: 'App',
    components: {Start},
};
</script>

<style>

</style>
